chat rag.json
{
  "name": "chat rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MuwfRH4gAkESoywoS3zK4AMihNzjR8eq",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MuwfRH4gAkESoywoS3zK4AMihNzjR8eq"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "161bfc65-2b3a-4cd2-9833-94886ef4a309",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8lzeho0egzVFYxg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "5d028e9c-25ae-423b-9d93-a78743d94301",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8lzeho0egzVFYxg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        -16
      ],
      "id": "b3c6d573-b2d2-4775-bdeb-a4e3ad69576f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "oMa3J0MwMHArHxf4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        240
      ],
      "id": "8e0b1193-f297-4a29-aec2-42c0b0418443",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "b0a54666-51c2-44e5-a5d8-31f64e8f75c2",
      "name": "Embeddings Ollama",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "vePnhoTZHoggXm8n",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        448
      ],
      "id": "256be839-455b-4823-bd20-2ddf41785956",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        896,
        48
      ],
      "id": "9560d32b-d6e0-4a1b-88dc-ec6cfa16a75e",
      "name": "When chat message received",
      "webhookId": "00761a40-9a73-47b2-b34e-53442ddbcc0c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        32
      ],
      "id": "362f4372-712d-45ab-98bc-9f83e6d08f12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        240
      ],
      "id": "8989d746-2327-4446-a4b6-5d91ef4d0140",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZJBzXDlT5jLxDu6o",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the policy and FAQ database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1392,
        256
      ],
      "id": "c1d255d0-ba6f-4594-9745-746a0663bb23",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "oMa3J0MwMHArHxf4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1488,
        464
      ],
      "id": "ace673c4-c1e3-4c6c-aae0-68792f52ff8f",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "vePnhoTZHoggXm8n",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "I need to change it with local llm like llama3.2(3b)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        384
      ],
      "id": "b7b2ddbf-63c5-4d39-a487-7d6334c43ae6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6db632cf-32c0-4b80-b8c1-8397a8ff7db7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04aff3e5d124c7f2e56cced978479887c47503071fc1a4780330af949b35bf2d"
  },
  "id": "EFtqPQeER62V5qzd",
  "tags": []
}